html{
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    background: linear-gradient(#0081a7, #fed9b7);    
}

.contenedor{
    margin: 50px auto;
    width: 400px;
    padding: 30px;
    background: rgba(0,0,0,.5);
    border-radius: 10px;
}

.contenedor h2{
    margin: 0 0 10px;
    padding: 0;
    font-size: 30px;
    color: #fdfcdc;
    text-align: center;
}

.contenedor .elemento label{
    color: white;
}

.contenedor .elemento input{
    width: 100%;
    padding: 10px 0px;
    color: #FFFFFf;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    margin-bottom: 30px;
}

.contenedor .elemento input[type="submit"]{
    background-color: #f07167;
    border: none;
    letter-spacing: 5px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 15px;
    margin-top: 30px;
    border-radius: 5px;

}

.contenedor .elemento input[type="submit"]:hover{
    background-color: #fed9b7;
    color: #f07167;
    border: none;
    font: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 15px;
    margin-top: 30px;
    border-radius: 5px;
    font-weight: bold;
}